html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: #fff;
}
body{
    font-family: 'Nunito Regular';
}

/* ======= start Heading ======= */

header{
background: url(../images/HeaderBg.png);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 757px;
}
.nav{
display: flex;
justify-content: space-between;
padding-bottom: 35px;
align-items: flex-end;
}
.logo-wrapper{

}
.logo{

}
.main-menu{
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
z-index: 999;
}
.menu-item{
    margin-right:20px;
    padding: 40px 18px 15px 18px;
}
.menu-item_navi.active{
    background-color: #93A5FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main-menu .menu-item:last-child{
    margin-right: 0;
    padding-right: 0;
}

.menu-link{

}
.login-btn {
    background-color: #fff;
    color: #93A5FF;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Nunito Bold';
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.login-btn:hover{
    color: #fff;
    background-color: #93A5FF;
}
.login-btn span{
    margin-left: 10px;
}
.menu-icon{
    font-size: 28px;
    cursor: pointer;
    display: none;
    color: #fff;
}

/* ====== Header Content ====== */

.header-content{
    margin-top: 45px;
}
.header-title{
    font-family: Roboto;
    font-size: 40px;
}
.header-caption{
    font-size: 21px;
    opacity: 0.8;
}
.domain{
    margin-top: 40px;   
}
.header-txt{
    background-color: #384170;
    color: #fff;
    padding: 14px 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 2px;
    max-width: 290px;
    width: 100%;
}
.header-txt::placeholder{
    color: #fff;
}
.header-domians{
    background-color: #384170;
    color: #fff;
    padding: 11px 20px 11px 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.header-btn{
    margin-left: 25px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.header-btn:hover{
    background-color: #a3b1f6;
}
.flex-wrapper{
    flex-basis: 380px;
}

/* ======= Finish Heading ======= */



/* ======= Start Main ======= */

.section-title{
    font-family: 'Nunito ExtraBold';
    color: #2E2E2E;
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.section-caption{
    color: #2E2E2E;
    opacity: 0.8;
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 0;
}
/* ======= Services Section ======= */

.services{
    text-align: center;
}

.service{
    align-items: flex-start;
    margin-top: 45px;
}
.service img{
    margin-right: 22px;
    width: 60px;
}
.services-content{
    text-align: left;
}

.services-content h3{
    font-family: 'Nunito Bold';
    color: #2E2E2E;
    font-size: 17px;
}
.services-content p{
    opacity: 0.8;
    color: #2E2E2E;
    font-size: 17px;
    line-height: 28px;
    max-width: 400px;
}

/* ======= Start Section ======= */
.start .row .col-12{
    margin-bottom: 25px;
}

.start{
    background: #F7F8FF;
    text-align: center;
}

.start-box{
    padding: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
.start-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.start-title{
    text-align: left;
    font-family: 'Nunito Bold';
    color: #fff;
    margin-top: 40px;
    text-transform: uppercase;
}
.start-description{
    color: #fff;
    line-height: 28px;
    text-align: left;
}
.start-btn{
    background-color: #fff;
    color: #93A5FF;
    text-align: right;
    font-family: 'Nunito Bold';
    margin-left: auto;
    display: block;
    width: 155px;
    padding: 14px 0 14px 15px;
    text-align: left;
}
.start-btn i{
    margin-left: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.start-btn:hover i{
    margin-left: 15px;
}

.start-img-fix{
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 230px;
}
.start-1{
    background-color: #93A5FF;
}
.start-2{
    background-color: #424D83;
}
.start-logo1{
    background-color: #424D83;
}
.start-logo2{
    background-color: #93A5FF;
}


/* ======= Plans Section ======= */


.plans{
    text-align: center;
    height: 810px;
}

.plan{
    color: #2E2E2E;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.13);
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    margin-bottom: 25px;
    /* height: 100%; */
    user-select: none;
    
}
.plan:hover .plan-bottom{
    height: 239px;
}
.plan:hover .plan-top{
    border-top: 8px solid #93A5FF;
}
.plan-top{
    padding: 60px 30px 0px 30px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border-top: 8px solid transparent;
    height: 320px;
}
.plan-img{

}
.plan-title{
    font-family: 'Nunito Bold';
}
.plan-description{
    line-height: 28px;
}
.plan-bottom{
    border-top: 1px solid #EBEBEB;
    padding: 30px;
    height: 129px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.plan-price{
    font-size: 30px;
    margin-top: 15px;
}
.plan-price small{
    font-size: 14px;
}
.plan-btn{
    background-color: #F7F8FF;
    color: #93A5FF;
    font-family: 'Nunito Bold';
    display: block;
    width: 185px;
    margin-top: 40px;
    margin-bottom: 25px;
    padding: 14px 0 14px 15px;
    text-align: left;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.plan-btn:hover{
    background-color: #93A5FF;
    color: #F7F8FF;
}
.plan-btn i{
    color: #93A5FF;
    margin-left: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.plan-btn:hover i{
    margin-left: 15px;
    color: #F7F8FF;
}


/* ======= Client Section ======= */

.client-logo{
    list-style: none;
    padding: 0 0 30px 0;
    text-align: center;
    flex-wrap: wrap;
}
.client-logo li{
    flex-grow: 1;
    margin-bottom: 20px;
}
.client-logo li img{
    width: 160px;
}
.btn-clients{
    display: block;
    width: 152px;
    margin: 0 auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.btn-clients:hover{
    background-color: #a3b1f6;
}


/* ======= Comments Section ======= */


.comments{
    background-color: #F7F8FF;
    position: relative;
}
.comments-img{
    position: absolute;
    width: 160px;
}
.comments-img1{
    top: -30px;
    right: 0;
}
.comments-img2{
    left: 0;
    bottom: -40px;
}
.comment{
   padding: 0 60px;
}
.comment-img{
    width: 85px !important;
    margin-right: 15px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.21);
}
.comment-content{
}
.comment-rating i{
    color:#FAD56B;
    margin-right: 3px;
}
.comment-body{
    font-family: 'Nunito italic';
    color: #2E2E2E;
}
.comment-person{
    font-family: 'Nunito Bold';
    color: #2E2E2E;
}
.comment-person::before{
    content: "-";
    margin-right: 5px;
}

.owl-dots .owl-dot span{
    background-color: #93A5FF !important;
    opacity: 0.4;
}
.owl-dots .owl-dot.active span{
    opacity: 1;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    box-shadow: 0 0 10px rgba(145, 167, 255, 0.45) !important;
}

.owl-prev, .owl-next{
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
}
.owl-prev{
    left: -20px;
}
.owl-next{
    right: -20px;
}
.owl-prev span, .owl-next span{
    font-size: 36px;
    width: 40px;
    height: 40px;
    color: #889CFF;
    background-color: rgba(147 , 165, 255, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.owl-theme{
    padding-top: 80px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: 0;
    color: 0;
    text-decoration: none;
}


/* ======= Finish Main ======= */





/* ======= Start Footer ======= */

footer{
    background: url(../images/footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
    padding: 140px 0 40px 0;
}
footer p{
    line-height: 28px;
}
footer .footer-bottom > div:last-child > a{
    line-height: 28px
}
.footer-list{

}
.footer-list-title{
    text-transform: uppercase;
}
.footer-menu{
    list-style: none;
    padding-left: 0;
}
.footer-menu-item{
    margin-bottom: 8px;
}
.footer-menu-link{

}
.accepts{
    
}
.accept{
    background-color: #2D355D;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 87px;
    padding:0 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 35px;
}
.accept img{
    width: 65%;
}
.accept-img-35{
    width: 35% !important;
}
.footer-bottom{
    margin-top: 60px;
    /* align-items: end; */
}
.footer-logo{
    margin-bottom: 15px;
}
.social{
margin-top: 0;
justify-content: flex-end;
margin-bottom: 15px;
}

.social-item{
margin-right: 10px;
}
.footer-link-left::after{
    content: "";
    border-right: 2px solid #fff;
    margin: 0 15px;
}

footer a:hover{
    text-decoration: underline;
}


.to-top{
    position: fixed;
    right: 74PX;
    bottom: 15px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #93A5FF;
    opacity: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    text-decoration: none !important;
    background-color: #525b86;
}

.to-top.active{
    opacity: 1;
    bottom: 40px;
}

.fa-angle-up::before{
    font-size: 30px ;
}